/*.iml
/.classpath
/.history
/.idea/
/.idea_modules/
/.project
/.settings/
/RUNNING_PID
/dist/
/logs/
/out/
/project/project/
/project/target/
/target/
/tmp/
/bower_components/
/public/bower_components/
/public/tmp/
/conf/application.conf
/conf/test.conf
