/*.iml
/.classpath
/.history
/.idea/
/.idea_modules/
/.project
/.settings/
/RUNNING_PID
/dist/
/logs/
/out/
/project/project/
/project/target/
/target/
/tmp/
/bower_components/
/node_modules/
/typings/
/npm-debug.log
/public/bower_components/
/public/tmp/
/app/assets/javascripts/front.bundle.js
/app/assets/javascripts/front.bundle.js.map
/conf/application.conf
