[resolved] {
    transition: opacity 0;
}

body {
    color: #222;
    padding: 1em;
}

p {
    margin: 0 auto;
}

footer {
    padding: 0 0 1em 1ex;
}

footer ul {
    margin-top: 1em;
    font-size: small;
    text-align: right;
    list-style:none;
}

footer li {

}

.content {
    padding: 0 0 1em 1ex;
}

/* http://www.msng.info/archives/2013/09/white-space-nowrap-wbr-ja.php */
.nobreak-inline-block {
    white-space: nowrap;
    display: inline-block;
}
